@keyframes widerRecover1 {
  0% {
    width: 135px;
  }

  50% {
    width: 154px;
  }

  100% {
    width: 135px;
  }
}

@keyframes widerRecover2 {
  0% {
    width: 135px;
  }

  50% {
    width: 154px;
  }

  100% {
    width: 135px;
  }
}

input#check {
  display: none;

  &:checked {
    + label {
      border-color: #30f349;
      box-shadow: 0 0 0 76px #30f349 inset;

      &::before {
        left: 113px;
        right: 12px;
        animation: widerRecover1 0.4s forwards;
      }
    }
  }

  &:not(:checked):not(:indeterminate) {
    + label {
      &::before {
        animation: widerRecover2 0.4s forwards;
      }
    }
  }
}

label {
  box-sizing: border-box;
  display: block;
  width: 270px;
  height: 160px;
  border: 5px solid #cbcbcb;
  border-radius: 80px;
  transition: 0.3s;
  position: relative;

  &::before {
    display: block;
    content: "";
    background-color: white;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    box-shadow: 0 5px 20px grey;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 113px;
    transition: left 0.5s, right 0.5s;
  }
}